.LazyImage-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.LazyImage-placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1rem);
  pointer-events: none;
}



.grid-stack {
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
}

.stack-item {
  grid-area: stack;
}
